{% set elasticsearch = salt['grains.filter_by']({
    'Debian': {
        'bind': '0.0.0.0',
        'cluster_name': False,
        'data_dir': False,
        'source': {
            'file': 'elasticsearch-1.3.1.deb',
            'path': 'http://static.dsd.io/packages',
            'hash': 'sha1=82e5fd804391d58c13d73809078f3309ffe8dedd',
        },
        'default': {
            'ES_HEAP_SIZE': '1g',
        },
        'curator': {
            'enabled': False,
            'options': 'delete --older-than 90',
        }
    },
}, merge=salt['pillar.get']('elasticsearch', {})) %}
