{% set elasticsearch = salt['grains.filter_by']({
    'Debian': {
        'bind': '0.0.0.0',
        'data_path': '/var/lib/elasticsearch',
        'logs_path': '/var/log/elasticsearch',
        'node_name': salt['grains.get']('host'),
        'cluster_name': None,
        'fielddata_cache_size': '40%',
        'fielddata_cache_expire': None,
        'source': {
            'file': 'elasticsearch-1.3.1.deb',
            'path': 'http://static.dsd.io/packages',
            'hash': 'sha1=82e5fd804391d58c13d73809078f3309ffe8dedd',
        },
        'default': {
            'ES_HEAP_SIZE': '1g',
        },
        'curator': {
            'enabled': False,
            'options': 'delete --older-than 90',
        }
    },
}, merge=salt['pillar.get']('elasticsearch', {})) %}
